/*@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}
html,body,div,ol,ul,li{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
}
ol,ul{
  list-style:none
}

.clearfix, .container, .calendar {
  zoom: 1;
}
.clearfix:before, .container:before, .calendar:before, .clearfix:after, .container:after, .calendar:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .container:after, .calendar:after {
  clear: both;
}

body {
  /*background: #249991;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  line-height: 1;
  font-size: 20px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
  display: box;
  box-align: center;
  box-pack: center;
  transform: translate3d(0, 0, 0);
  line-height:1
}

#calenderView{
  margin: 20px;
}

.container {
  margin: 0 auto;
  width: 30em;
}

.today {
  background: #4ecdc4;
  color: white;
  padding: 1em 0;
  float: left;
  min-height: 17.2em;
}
.today .day-week {
    color: #fff;
    margin: 30px 0 0px;
    font-weight: bold;
}
.today .day-num {
  font-size: 8em;
}
hr {
  border-top: 1px solid #249991;
}

.goto i {
  color: #4ecdc4;
  border: 3px solid #4ecdc4;
  padding: 2px;
  font-size: 15px;
  border-radius: 10px
}

.goto input, .goto select {
  height: 26px;
  padding: 2px;
  font-size: 15px;
  font-style: italic;
  border-radius: 5px;
}

.goto input {
  width: 60px;
}

.calendar {
  float: left;
  min-height: 17.2em;
  background: #f5f5f5;
  padding: 1.25em 1em 1em;
}
.calendar .month {
  color: #249991;
  font-weight: 700;
  margin: 0.75em 0 1em;
}
.calendar .weekday {
  color: #e42355;
  font-weight: 700;
  font-size: 0.8em;
}
.calendar .day {
  font-size: 0.8em;
  font-weight: 700;
  color: #555555;
}
.calendar .weekday, .calendar .day {
  float: left;
  width: 12%;
  margin: 0.25em 1%;
  line-height: 1.5em;
  vertical-align: middle;
}
.calendar .weekday.now, .calendar .day.now {
  position: relative;
  color: #e42355;
}
.calendar .weekday.now:before, .calendar .day.now:before {
  content: "";
  width: 1.75em;
  height: 1.75em;
  border: 0.2em solid #e42355;
  position: absolute;
  border-radius: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ms { 
  display: inline-block;
  width: 25px;
}

.mute {
  color: rgba(0, 0, 0, 0.25);
}

.pre-month {
  float:  left;
    left: 0;
}

.next-month {
  right: 0;
  float:  right;
  top: 1px;
}


.button {
  border-radius: 0px;
  background-color: #f4511e;
  border: none;
  font-size: 20px;
  padding: 8px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  align-items: flex-start;
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fff;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#calenderView:after {
    content: "";
    clear: both;
    display: table;
}
#calenderView {
    max-width: 800px;
    margin: 20px auto;
  }
@media (max-width: 768px) {
  .today, .calendar {
    width: 100%;
  }
  #calenderView {
    margin: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
 .today, .calendar {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .today, .calendar {
    width: 50%;
  }

}